body {
  margin: 0;
  background: black;
  overflow: hidden;
}

canvas {
  display: block;
  margin: auto;
  background: #000;
}

#mobile {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  font-size: 22px;
  padding: 10px;
  opacity: 0.8;
}
